<h1> MY FRIEND LIST </h1>

<!-- display friend list -->
<% Frds.forEach(function(frd) {	%>
	<li> <%= frd.name %> </li>
<% }); %>

<!-- add friend -->
<form action="/addfriend" method="POST">
	<input type="text" name="frd" placeholder="name">
	<button>Make friend</button>
</form>

<!-- delete friend -->
<form action="/delfriend" method="POST">
	<input type="text" name="frd" placeholder="name">
	<button>Delete friend</button>
</form>