<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>

	<h1> HOME </h1>

	<h2> Your Friend List </h2>
	
</body>

<footer>
	<% include ../partials/footer %>
</footer>

</html>

	